<nz-card>
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="mail"></i>
      <a routerLink="/jianbao/qingbao"><span>情报综述</span></a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="appstore"></i>
      <a routerLink="/jianbao/chuanbo"><span>传播分布分析</span></a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="appstore"></i>
      <a routerLink="/jianbao/diyufenbu"><span>地域分布</span></a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="appstore"></i>
      <a routerLink="/jianbao/zimaoqu"><span>自贸区统计</span></a>
    </li>
  </ul>
</nz-card>
<router-outlet></router-outlet>
