<nz-card>
  <div nz-row [nzGutter]="[16, 24]" nzAlign="middle">
    <div nz-col nzSpan="24">
      <div class="event-details-bg">
        <div class="event-details-content">
          <h3>头条热榜</h3>
          <h1>全球日增确诊超48万例</h1>
          <h3>热榜第2名 · 阅读量22万</h3>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24">
      <h1 style="text-align: center">事件详情</h1>
      <div class="event-details-img">
        <div class="event-details-text">
          <h2>数读10月28日全球疫情.全球B增确诊超48万例累计逾2.4亿例仅4成美国人知道接种新冠疫苗可降低感染风险</h2>
          <nz-space>
            <span *nzSpaceItem>国际万花筒</span>
            <span *nzSpaceItem>39条评论</span>
            <span *nzSpaceItem>3小时前</span>
          </nz-space>
        </div>
        <img src="../../../../assets//img/xinguanyiqing.jpg" alt="新冠疫情" />
      </div>
    </div>
    <div nz-col nzSpan="24">
      <h1 style="text-align: center">全球疫情动态</h1>
      <div class="event-details-img">
        <div class="event-details-text">
          <h2>数读10月28日全球疫情.全球B增确诊超48万例累计逾2.4亿例仅4成美国人知道接种新冠疫苗可降低感染风险</h2>
          <nz-space>
            <span *nzSpaceItem>国际万花筒</span>
            <span *nzSpaceItem>39条评论</span>
            <span *nzSpaceItem>3小时前</span>
          </nz-space>
        </div>
        <img src="../../../../assets//img/xinguanyiqing.jpg" alt="新冠疫情" />
      </div>
    </div>
  </div>
</nz-card>
