<nz-card>
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="mail"></i>
      <a routerLink="/tongji/datas-tongji"><span>数据量统计</span></a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="weibo"></i>
      <a routerLink="/tongji/data-fenxi"><span>数据分布</span></a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="appstore"></i>
      <a routerLink="/tongji/zimaoqu-fenxi"><span>自贸区对比</span></a>
    </li>
  </ul>
</nz-card>
<router-outlet></router-outlet>
